.ProductList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.ProductListItem {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
